// Your global color variables
$blue-purple: #4A44F2;
$purple: #7D79F2;
$blue-green: #04D9C4;
$green: #05F2AF;
$yellow: #F2CA50;
$red: #ff4136;
$dark-blue: #2c2c66;
$black: #000;
$pale-grey: #efefef;

